<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movie_tickets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vrcinema"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forgotPassword"></activity>
        <activity android:name=".createAcc" />
        <activity android:name=".confirmticket" />
        <activity android:name=".book" />
        <activity android:name=".dreamgirlbook" />
        <activity android:name=".dreamgirltrailer" />
        <activity
            android:name=".movie"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".otpconfirm" />
        <activity android:name=".otpsend" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>